<nb-card>
  <nb-card-header>
    <h1>Estadisticas COVID-19 Colombia</h1>
  </nb-card-header>
  <nb-card-body>
    <app-summary
      [dailyCases]="getDailyCases()"
      [deaths]="getLatestDeathCases()"
      [confirmed]="getLatestConfirmedCases()"
      [recoveries]="getLatestRecoveryCases()">
    </app-summary>
    <app-progression [data]="confirmedCases"></app-progression>
  </nb-card-body>
  <nb-card-footer>
    <p>Ultima Actualizacion: {{ getLatestUpdated() | date }}</p>
    <p>Fuente: <a href="https://systems.jhu.edu/research/public-health/ncov/">JHU CSSE</a></p>
  </nb-card-footer>
</nb-card>
